@import "../../../../base.less";
.online-container{
  height: 100%;
  padding: @basePadding;
  box-sizing: border-box;
  overflow: auto;
  .user-info{
    border-bottom: 1PX solid @baseBorderColor;
    padding-bottom: @basePadding;
    .left{
      .head{
        margin-bottom: @halfBasePadding;
        .user-name{
          font-weight: 700;
          font-size: 50px;
          margin-right: @halfBasePadding;
        }
      }
      .exp{
        color: @baseTextColor;
      }
    }
    .img-avatar{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .person-advantage{
    padding: @basePadding 0;
    border-bottom: 1PX solid @baseBorderColor;
    .head{
      padding: @halfBasePadding 0;
      font-weight: 700;
    }
    .advantage-list{
      padding: @basePadding 0;
      color: @baseTextColor;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .job-status{
    padding: @basePadding 0;
    border-bottom: 1PX solid @baseBorderColor;
    .job-head{
      padding: @halfBasePadding 0;
      font-weight: 700;
    }
    .status-want{
      .status-want-txt{
        color: @baseTextColor;
        margin-right: @halfBasePadding;
      }
    }
  }
  .job-except{
    padding: @basePadding 0;
    border-bottom: 1PX solid @baseBorderColor;
    .head{
      margin-bottom: @halfBasePadding;
      .except{
        font-weight: 700;
        margin-right: @halfBasePadding;
      }
    }
    .station-info{
      margin-top: @basePadding;
      .salary{
        font-size: @smallSize;
        font-weight: 700;
        .text{
          margin-left: @halfBasePadding;
        }
      }
      .place{
        color: @baseTextColor;
        font-size: @smallSize;
        .type{
          margin-left: @halfBasePadding;
        }
      }
    }
  }
}
