@import "../../../../base.less";
.enclosure-container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  .tip{
    padding: @basePadding;
    background: #fff5ec;
    color: #e2a34e;
  }
  .enclosure-box{
    padding: @basePadding;
  }
  .upload-new-file{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: @basePadding;
    box-sizing: border-box;
    .upload-enclosure{
      padding: @halfBasePadding 0;
      background: @baseColor;
      color: @white;
      border-radius: 10px;
      text-align: center;
    }
  }
}
