@import "../../../../base.less";
.station-search-container{
  background: @white;
  height: 100%;
  overflow-y: auto;
  .search-input{
    position: relative;
    .current-place{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 801;
      width: 140px;
      height: 60px;
      text-align: center;
      background-color: #F7F7F7;
      margin-top: 12px;
      border-radius: 15PX 0 0 15PX;
      padding-left: @basePadding;
      .txt-box{
        margin-top: -8px;
        position: relative;
        color: @baseTextColor;
        &:after{
          content: '';
          position: absolute;
          top: 22px;
          right: 5px;
          width: 2px;
          height: 50%;
          background: #c7c7c7;
        }
      }
    }
    .at-search-bar{
      padding-left: 150px;
      .at-search-bar__input-cnt{
        border-radius: 0 15PX 15PX 0;
      }
      .at-search-bar__action{
        background: @baseColor;
      }
    }
  }
  .station-list-box{
    margin-top: 90px;
    padding:0 @basePadding @basePadding;
    .line{
      height: 15px;
      background: @baseBgColor;
    }
  }
  .search-history{
    margin-top: 90px;
    padding: 0 @basePadding @basePadding;
    .title{
      font-weight: 700;
      padding: @basePadding 0;
    }
    .tag-list{
      .at-tag{
        margin-right: @halfBasePadding;
        margin-bottom: @halfBasePadding;
      }
    }
  }
}
